{:paths ["src"]
 :deps
 {manifold {:mvn/version "0.1.9-alpha3"}
  clj-yaml {:mvn/version "0.4.0"}

  metosin/muuntaja {:mvn/version "0.6.4"}

  ring/ring-core {:mvn/version "1.7.1"}
  ring/ring-mock {:mvn/version "0.3.2"}

  ;; Optional
  }

 :aliases
 {:dev {:extra-paths ["test"]}

  :test {:extra-paths ["test"]
         :extra-deps {
                      com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
         :main-opts ["-m" "cognitect.test-runner"]}}

 }
