{:paths ["src"]
 :deps
 {manifold {:mvn/version "0.1.9-alpha3"}
  clj-yaml {:mvn/version "0.4.0"}

  juxt/muuntaja {:mvn/version "0.6.4-juxt-2"}

  ring/ring-core {:mvn/version "1.7.1"}
  ring/ring-mock {:mvn/version "0.3.2"}

  jinx {:local/root "../jinx"
        :exclusions [cljs-node-io]
        ;; :mvn/version "0.1.5"
        }

  metosin/reitit {:mvn/version "0.3.9"}

  ;; Use in 'cache' module
  org.clojure/core.cache {:mvn/version "0.8.2"}

  ;; Use in openid-connect to verify signed jwts
  ;;buddy/buddy-sign {:mvn/version "3.1.0"}
  ;;buddy/buddy-core {:mvn/version "1.6.0"}
  com.nimbusds/nimbus-jose-jwt {:mvn/version "8.2.1"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :override-deps {juxt.edge/logging.dev {:local/root "dev/logging"}}
   :extra-deps
   {
    ;; TODO: Replace ../edge with a git dep with :deps/root
    ;; of 'lib/edge.app.dev':
    juxt.edge/lib.app.dev {:local/root "../edge/lib/edge.app.dev"}
    juxt.edge/lib.app.logging {:local/root "../edge/lib/edge.app.logging"}

    org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

    ring/ring-jetty-adapter {:mvn/version "1.7.1"}

    criterium {:mvn/version "0.4.5"}
    hiccup {:mvn/version "2.0.0-alpha2"}

    spyscope/spyscope {:mvn/version "0.1.6"
                       :exclusions [fipp/fipp]}
    fipp/fipp {:mvn/version "0.6.14"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                               :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
    criterium {:mvn/version "0.4.5"}
    hiccup {:mvn/version "2.0.0-alpha2"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
