/* Copyright © 2020, JUXT LTD. */

* {
    font-family: "Century Gothic", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
h1 {font-size: 200%; font-weight: bold; margin: 12pt; padding: 0}
h2 {font-size: 140%; font-weight: bold; margin: 12pt; padding: 0}
h3 {font-size: 120%; font-weight: bold; margin: 36pt 12pt 12pt 0pt; padding: 0}
table {border-collapse: collapse}
table tr, table td, table th {border: 1px solid #d8d8d8}
table td {vertical-align: top}
.cell-value, .cell-value a {font-family: "Monospace"; font-size: 100%}
.keyword {color: #888}
td, th {padding: 0.5em}
th {text-align: left; color: #aaa}
th, h2, h3, h4 {font-weight: normal}
section {
    padding: 0;
    margin: 12pt;
}
nav.navbar {
    margin: 0;
}
nav.navbar li {
    display: inline;
    padding-right: 1em;
}
nav {
    margin: 12pt;
    padding: 0;
}
nav ul {
    margin: 12pt;
    padding: 0;
}
nav li {
    list-style-type: square;
}
footer {
    font-size: 70%;
    background: #222;
    color: #aaa;
    margin-top: 10em;
    padding: 12pt 12pt 100% 12pt
}
table a {
    text-decoration: none;
}
.jumbo {
    font-size: 200%;
}
