{

 :ig/system
 {:juxt.apex.examples.async.vertx/vertx
  {}

  :juxt.apex.examples.async.vertx/http-server
  {
   :port 8000
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :juxt-feed #ig/ref [:juxt.apex.examples.async.vertx/stock-feed-publisher :stock/juxt]
   :crux-feed #ig/ref [:juxt.apex.examples.async.vertx/stock-feed-publisher :stock/crux]
   }

  [:juxt.apex.examples.async.vertx/stock-feed-publisher :stock/juxt]
  {
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :topic "JUXT"
   :freq 500
   }

  [:juxt.apex.examples.async.vertx/stock-feed-publisher :stock/crux]
  {
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :topic "CRUX"
   :freq 500
   }

  }}
