{

 :ig/system
 {:juxt.apex.examples.async.vertx/vertx
  {}

  :juxt.apex.examples.async.vertx/http-server
  {
   :port 8000

   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :vertx/log-activity #profile {:dev true :prod false}

   :juxt-feed #ig/ref [:juxt.apex.examples.async.events/stock-feed-publisher :stock/juxt]
   :crux-feed #ig/ref [:juxt.apex.examples.async.events/stock-feed-publisher :stock/crux]
   :router #ig/ref :juxt.apex.examples.async.router/router}

  :juxt.apex.examples.async.router/router
  {:cms-router #ig/ref :crux.cms.cms/router}

  :crux.cms.cms/router
  {:store #ig/ref #profile {:dev :crux.cms.local/content-store
                            :prod :crux.cms.crux-content-store/content-store}
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx}

  :crux.cms.local/content-store
  {}

  :crux.cms.crux-content-store/content-store
  {:node #ig/ref :crux.cms.db/node}

  [:juxt.apex.examples.async.events/stock-feed-publisher :stock/juxt]
  {
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :topic "JUXT"
   :freq 500
   }

  [:juxt.apex.examples.async.events/stock-feed-publisher :stock/crux]
  {
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   :topic "CRUX"
   :freq 1200
   }

  :crux.cms.db/node
  {}

  :crux.cms.selmer/tags
  {}

  :crux.cms.selmer/cache
  {:cache? false}

  }}
