{

 :ig/system
 {:juxt.apex.examples.async.vertx/vertx
  {}

  :juxt.apex.examples.async.vertx/http-server
  {
   :port 8000
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   }

  :juxt.apex.examples.async.vertx/event-publisher
  {
   :vertx #ig/ref :juxt.apex.examples.async.vertx/vertx
   }

  ;; To compare against
  :juxt.apex.examples.async.server/jetty
  {:juxt.apex.examples/listener-port 8001
   :juxt.apex.dev/new-handler-on-each-request? #profile {:dev true :default false}
   }




  }}
