{:port 8080
 :ig/system
 {:juxt.apex.dev.server/jetty {:port #ref [:port], :handler #ig/ref :juxt.apex.dev.api/api}

  :juxt.apex.dev.api/api
  {

   :juxt.apex/document "juxt/apex/openapi-examples/petstore.yaml"

   ;; This declaration ensures that the service can be accessed using
   ;; localhost without requiring the OpenAPI document itself to be
   ;; altered. Defaults to nil.
   :juxt.apex.dev/additional-servers #profile {:dev [{"url" #join ["http://localhost:" #ref [:port]]}]}

   ;; This declaration is for convenience during development. It will
   ;; recreate the handler from the document every time, which allows
   ;; the document and most of the code to be developed without
   ;; requiring explicit reloaded-workflow resets. However, this will
   ;; significantly impact performance and therefore should not be
   ;; enabled in production or test environments where accepted
   ;; performance is required. Defaults to nil.
   :juxt.apex.dev/new-handler-on-each-request? #profile {:dev true :default false}}
  }}
