[

 ;; http://httpd.apache.org/docs/current/en/content-negotiation.html#algorithm

 ;; https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation
 ;; The overall resource, as well as each of the representations, have
 ;; a specific URL.

 {:crux.db/id #crux/uri "http://localhost:8000/"
  :crux.web/redirect #crux/uri "http://localhost:8000/index.html"
  :crux.web/description "Redirects a / path to the index page"}

 {:crux.db/id #crux/uri "http://localhost:8000/index.html"
  :crux.web/content-type "text/html;charset=utf-8"
  :crux.web/content-language "en"}




 ]
