[

 ;; http://httpd.apache.org/docs/current/en/content-negotiation.html#algorithm

 ;; https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation
 ;; The overall resource, as well as each of the representations, have
 ;; a specific URL.


 {:crux.db/id #crux/uri "https://juxt.pro/"
  :crux.web/description "Redirects a / path to the index page"
  :crux.web/status 302
  :crux.web/location #crux/uri "https://juxt.pro/index.html"

  }

 {:crux.db/id #crux/uri "https://juxt.pro/index.html"
  :crux.web/content-type "text/html;charset=utf-8"
  :crux.web/content-language "en"
  :crux.cms.selmer/template #crux/uri "https://juxt.pro/_sources/templates/index2.html"}

 #_{:crux.db/id #crux/uri "https://juxt.pro/frontpage.css"
  :crux.web/content-type "text/css;charset=utf-8"
  }




 ]
