/* Copyright © 2019, JUXT LTD. */

* {
    font-family: "Century Gothic", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
h1 {font-size: 200%; font-weight: bold}
table {border-collapse: collapse}
table tr, table td, table th {border: 1px solid #d8d8d8}
table td {vertical-align: top}
.cell-value {font-family: "Monospace"; font-size: 100%}
.keyword {color: #888}
td, th {padding: 0.5em}
th {text-align: left; color: #aaa}
th, h2, h3, h4 {font-weight: normal}
section {
    padding: 0;
    margin: 0.5em;
}
footer {
    font-size: 70%;
    background: #222;
    color: #aaa;
    margin-top: 10em;
    padding: 0.2em 0.5em 100% 0.5em
}
