{:paths ["src" "../openapi-examples"]
 :deps
 {juxt.apex/params {:local/root "../../modules/params"}
  juxt.apex/html {:local/root "../../modules/html"}

  metosin/reitit-ring {:mvn/version "0.3.10"}

  metosin/reitit-middleware {:mvn/version "0.4.2"}

  }

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :override-deps {juxt.edge/logging.dev {:local/root "dev/logging"}}
   :extra-deps
   {
    ;; TODO: Replace ../edge with a git dep with :deps/root
    ;; of 'lib/edge.app.dev':
    juxt.edge/lib.app.dev {:local/root "../../../edge/lib/edge.app.dev"}
    juxt.edge/lib.app.logging {:local/root "../../../edge/lib/edge.app.logging"}

    org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

    metosin/jsonista {:mvn/version "0.2.5"}

    ring/ring-jetty-adapter {:mvn/version "1.7.1"}

    io.vertx/vertx-core {:mvn/version "3.9.0"}
    io.vertx/vertx-rx-java2 {:mvn/version "3.9.0"}

    criterium {:mvn/version "0.4.5"}
    ;;hiccup {:mvn/version "2.0.0-alpha2"}

    spyscope/spyscope {:mvn/version "0.1.6"
                       :exclusions [fipp/fipp]}
    fipp/fipp {:mvn/version "0.6.14"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                               :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
    criterium {:mvn/version "0.4.5"}
    hiccup {:mvn/version "2.0.0-alpha2"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
