{:ig/system
 {:juxt.apex.examples.petstore.server/jetty
  {:juxt.apex.examples.petstore.client/port 8080

   ;; This declaration is for convenience during development. It will
   ;; recreate the handler from the document every time, which allows
   ;; the document and most of the code to be developed without
   ;; requiring explicit reloaded-workflow resets. However, this will
   ;; significantly impact performance and therefore should not be
   ;; enabled in production or test environments where accepted
   ;; performance is required. Defaults to nil.

   :juxt.apex.dev/new-handler-on-each-request? #profile {:dev true :default false}}

  :juxt.apex.examples.petstore.client/seed {}}}
