{
 :openid-providers
 {"google"
  {:openid-config-url "https://accounts.google.com/.well-known/openid-configuration"}

  "cognito"
  {:openid-config-url
   "https://cognito-idp.eu-west-2.amazonaws.com/eu-west-2_LXe3f7tLq/.well-known/openid-configuration"
   :client-id "6mqhkcrllmajchv8h9dig88hjj"
   :client-secret "1ao8hroprajbdr1g4p3iddr67q1v8j7f59bsrvhr8toi7e0pqo2"}

  "keycloak"
  {:openid-config-url
   "http://localhost:8080/auth/realms/master/.well-known/openid-configuration"
   :client-id "petstore"
   :client-secret "ee185f56-197b-44c0-88e8-581781440c9b"}

  "onelogin"
  {:openid-config-url
   "https://juxt-dev.onelogin.com/oidc/.well-known/openid-configuration"
   :client-id "926c11b0-13ce-0138-8f1d-0a2a13b62018140139"
   :client-secret "ac41d73df09841ddeda710ac7bf6861d8b7ab371536a435f45e3e0b61291c810"}}

 :openid-provider #ref [:openid-providers #_"cognito" "keycloak"]

 :ig/system
 {:juxt.apex.examples.petstore.api-server/jetty
  {:juxt.apex.examples/listener-port 8090

   ;; This declaration is for convenience during development. It will
   ;; recreate the handler from the document every time, which allows
   ;; the document and most of the code to be developed without
   ;; requiring explicit reloaded-workflow resets. However, this will
   ;; significantly impact performance and therefore should not be
   ;; enabled in production or test environments where accepted
   ;; performance is required. Defaults to nil.
   :juxt.apex.dev/new-handler-on-each-request? #profile {:dev true :default false}
   :juxt.apex.examples.client/auth-config #ref [:openid-provider]}

  :juxt.apex.examples.petstore.customer-client/jetty
  {:juxt.apex.examples/listener-port 8091
   :juxt.apex.examples.client/cookie-name "session"
   :juxt.apex.examples.client/auth-config #ref [:openid-provider]}}}
