;; Copyright © 2020, JUXT LTD.

{:paths ["src"]
 :deps
 {
  ;; Core
  ;; juxt.apex/auth-digest {:local/root "../auth-digest"}
  ring/ring-core {:mvn/version "1.8.0"}

  juxt/reap
  {:git/url "https://github.com/juxt/reap.git"
   :sha "dee3e97ff83af33abb94113b7beaba6684250599"}}

 :aliases
 {:dev
  {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps {ring/ring-mock {:mvn/version "0.4.0"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {ring/ring-mock {:mvn/version "0.4.0"}
    com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
